@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background-color: black;
  color: white;
}

.name {
  font-family: 'Montserrat', sans-serif;
}

.developer, .lover {
  font-family: "Open Sans",sans-serif;
}

.myself {
  margin-bottom: .5rem;
}

.developer div {
  float: left;
}

.lover div {
  display: inline;
}

#two {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: clamp(1rem,-.875rem + 8.333vw,3.5rem);
  text-transform: uppercase;
}

.developer, .lover {
  font-size: clamp(.66rem,-.875rem + 8.333vw,1.5rem);
}

.default-width {
  margin: 15rem 10% 5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.person-card {
  margin: auto;
  width: 100%;
}

.avatar {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
  width: 70%;
  max-width: 400px;
}

.avatar img {
  max-width: 100%;
  height: auto;
  border-radius:50%;
}

.social-links {
  margin-top: 5rem;
}

.social-links div {
  float: left;
}

.social-links i {
  padding-right: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.box {
  text-align: center;
  height: 40px;
  overflow: hidden;
  position: relative;
}
.box::before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  content: '';
  height: 5px;
  position: absolute;
}
.box::after {
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  content: '';
  height: 5px;
  position: absolute;
}

p {
  float: left;
}

ul {
  float: right;
  margin: 0;
  padding: 0;
  -webkit-animation: scrollUp 4s ease-in-out infinite normal;
          animation: scrollUp 4s ease-in-out infinite normal;
}
ul li {
  opacity: 1;
  height: 20px;
  padding: 10px;
  list-style: none;
}

@-webkit-keyframes scrollUp {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
}

@keyframes scrollUp {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
}